.immagini {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.sfondogiallo {
  padding-bottom: 1px;
  background-color: rgba(247, 224, 123, 0.589);
  text-align: center;
}

.titolo1,
#paragrafoimmagine {
  text-align: center;
}
.sfondocontenuto {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}
.titolo2 {
  color: darkred;
}
.header h1,
h2,
h3,
h4,
ul,
#ultimop {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.paragrafo {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
#ultimo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#unico {
  font-weight: bold;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.spz {
  padding: 7px;
}
.ancor {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.toglispz {
  color: rgb(230, 96, 0);
}
.colorline {
  border-color: rgb(170, 255, 224);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
